<!--
* Note: added '.html_safe' to alert value
-->

<title>
  <%= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}" %>
</title>
<header class="py-2 m-2 border-bottom" data-model="<%= @abstract_model.to_param %>">
  <h1>
    <%= @page_name %>
    <% if _current_user && current_page?(rails_admin.dashboard_path) %>
      <%= link_to t('admin.dashboard.edit_yourself'), edit_your_profile_link(_current_user, session[:person_id]), class: 'btn btn-outline-primary' %>
    <% end %>
  </h1>
</header>
<% flash && flash.each do |key, value| %>
  <div class="<%= flash_alert_class(key) %> alert alert-dismissible">
    <%= value.html_safe %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<nav aria-label="breadcrumb">
  <%= breadcrumb %>
</nav>
<ul class="nav nav-tabs mb-3">
  <%= menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object) %>
  <%= content_for :contextual_tabs %>
</ul>
<%= yield %>
