%title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}"
.page-header{data: {model: @abstract_model.to_param}}
  %h1
    =@page_name
    - if _current_user && current_page?(rails_admin.dashboard_path)
      =link_to t('admin.dashboard.edit_yourself'), edit_your_profile_link(_current_user, session[:person_id]), class: 'btn btn-default'
- flash && flash.each do |key, value|
  .alert.alert-dismissible{class: flash_alert_class(key)}
    %button.close{type: 'button', :'data-dismiss' => "alert"} &times;
    = value.html_safe
= breadcrumb
%ul.nav.nav-tabs
  = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
  = content_for :contextual_tabs
= yield
