<% content_for :html_title, @person.display_name %>
<% content_for(:twitter_og_meta) do %>
  <meta property="og:title" content="<%= person_og_title(@person) %>" />
  <meta property="og:description" content="<%= person_og_description(@person) %>" />
  <meta property="og:image" content="<%= staff_photo_url(person: @person) %>" />
  <meta name="twitter:image" content="<%= staff_photo_url(person: @person) %>" />
  <meta property="og:image:alt" content="<%= @person.display_name %>" />
<% end %>

<main id="main-content" role="main" class="row person-view" itemscope itemtype="http://schema.org/Person">

  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: '' %>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row">


    <%# right column %>
      <div class="col-sm-12 col-md-8 col-lg-9 order-md-2">

        <div class="person-name-wrapper">
          <h1 class="person-title" id="display-name" itemprop="name"><%= @person.display_name %>
            <%= edit_person_button(@person, current_user) %>
          </h1>
          <p class="person-job-title" itemprop="jobTitle"><%= @person.display_title %></p>

          <%# orcid / scholars@duke %>
          <% if @person.orcid.present? || scholars_at_duke_profile_url(@person) %>
            <div class="icon-links">

              <% if scholars_at_duke_profile_url(@person) %>
                <div class="item">
                  <%= link_to( t('public_ui.person.scholars_at_duke_title'), scholars_at_duke_profile_url(@person),
                              class: 'scholars-icon-link',
                              target: '_blank',
                              data: { original_title: t('public_ui.person.scholars_at_duke_title')},
                              onclick: "_paq.push(['trackEvent', 'Directory', 'Person', 'Scholars @ Duke Profile']);"
                              )
                  %>
                </div>
              <% end %>

              <% if @person.orcid.present? %>
                <div class="item">
                  <%= link_to( t('public_ui.person.orcid_title'), @person.orcid,
                              class: 'orcid-icon-link',
                              target: '_blank',
                              data: { original_title: t('public_ui.person.orcid_title')},
                              onclick: "_paq.push(['trackEvent', 'Directory', 'Person', 'ORCID Profile']);"
                              )
                  %>
                </div>
              <% end %>

            </div>

          <% end %>
        </div>

        <div class="row">

          <% if person_profile_display(@person) %>
            <div class="col-sm-12 profile-wrapper" itemprop="description">
              <%= content_tag :div, id: 'profile-content', class: ('collapse' if person_profile_display(@person).length > 750), 'aria-expanded': ('false' if person_profile_display(@person).length > 600) do %>
                <%== person_profile_display(@person) %>
              <% end %>
              <% if person_profile_display(@person).length > 750 %>
                <div class="col-sm-12 show-hide-btn-wrapper text-right pr-0">
                  <a id="show-hide-btn" class="btn btn-sm btn-default collapsed" data-toggle="collapse" href="#profile-content" role="button" aria-expanded="false" aria-controls="profile-content" onclick="_paq.push(['trackEvent', 'Directory', 'Person', 'Show / Hide Profile']);"><span class="sr-only"><%= t('public_ui.person.toggle_profile') %></span></a>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="col-md-6">

            <%# Departments %>
            <% if @person.departments.any? %>
              <h2><%= t('public_ui.person.department_header', count: @person.departments.uniq.count) %></h2>
              <ul class="styled-list">
                <%== person_attribute_list(person: @person, attribute: 'departments') %>
              </ul>
            <% end %>

            <%# Subject Areas %>
            <% if @person.subject_areas.any? %>
              <h2><%= t('public_ui.person.subject_area_header', count: @person.subject_areas.uniq.count) %></h2>
              <ul class="styled-list">
                <%== person_attribute_list(person: @person, attribute: 'subject-areas') %>
              </ul>
            <% end %>

            <%# Language Skills %>
            <% if @person.languages.any? %>
              <h2><%= t('public_ui.person.language_skill_header', count: @person.languages.uniq.count) %></h2>
              <ul class="styled-list">
                <%== person_attribute_list(person: @person, attribute: 'languages') %>
              </ul>
            <% end %>

            <%# Trainings Areas %>
            <% if @person.trainings.any? %>
              <h2><%= t('public_ui.person.training_header', count: @person.trainings.uniq.count) %></h2>
              <ul class="list-unstyled trainings-list">
                <%== person_attribute_list(person: @person, attribute: 'trainings') %>
              </ul>

            <% end %>

          </div>



          <%# Research Guides %>
          <% if @person.libguide_id.present? %>
            <div class="col-md-6">
              <section class="research-guides">
                <h2><%= t('public_ui.person.research_guide_header') %></h2>
                <script>
                  springshare_widget_config_1 = { path: 'guides' };
                </script>
                <div id="s-lg-widget-1"></div>
                  <%== person_libguide_script(@person) %>
                <p>
                  <%= link_to( t('public_ui.person.view_all_guides_html'),
                              "https://guides.library.duke.edu/prf.php?account_id=#{@person.libguide_id}",
                              class: 'btn btn-default',
                              onclick: "_paq.push(['trackEvent', 'Directory', 'Person', 'LibGuide']);"
                              )
                  %>
                </p>
              </section>
            </div>
          <% end %>

        </div>

      </div>
    <%# end right column %>

    <%# left column %>
      <div class="col-sm-12 col-md-4 col-lg-3 order-md-1">
        <div class="contact-wrap">

          <%# Staff Photo %>
          <%= staff_photo(person: @person, classes: "person-thm media-object") %>

          <%# Schedule an Appointment %>
          <% if @person.libcal_id.present? %>
            <%= link_to "https://duke.libcal.com/appointment/#{@person.libcal_id}",
                        class: 'scheduler-button btn btn-primary',
                        title: t('public_ui.person.schedule_an_appointment'),
                        onclick: "_paq.push(['trackEvent', 'Directory', 'Person', 'Schedule an Appointment']);" do
            %>
              <i class="far fa-calendar-check"></i>
              <%= t('public_ui.person.schedule_an_appointment') %>
            <% end %>
          <% end %>

          <div class="contact">
            <%# Contact Info %>
            <% unless @person.email_privacy || !@person.phone.present? %>
              <ul class="contact-info list-unstyled" aria-label="<%= t('public_ui.person.contact_label') %>">
                <% unless @person.email_privacy %>
                  <li class="contact-email" itemprop="email" title="<%= @person.email %>">
                    <i class="fas fa-envelope"></i>
                    <%= mail_to @person.email, @person.email, onclick: "_paq.push(['trackEvent', 'Directory', 'Person', 'Email']);" %>
                  </li>
                <% end %>
                <% if @person.phone.present? && !@person.hide_phone_number %>
                  <li class="contact-phone" itemprop="telephone">
                    <i class="fas fa-phone-alt"></i>
                    <%= link_phone_number(@person.phone) %></li>
                <% end %>
              </ul>
              <hr>
            <% end %>

            <%# Pronouns %>
            <% if @person.pronouns.present? %>
              <ul class="contact-info list-unstyled">
                <li class="pronouns">
                  <i class="fas fa-user-alt"></i>
                  <span class="contact-label"><%= t('public_ui.person.pronouns') %></span>
                  <span class="contact-content"><%= @person.pronouns %></span>
                </li>
              </ul>
              <hr>
            <% end %>

            <%# Addresses %>
            <% if @person.campus_box.present? || @person.physical_address.present? %>
              <ul class="contact-info contact-addresses list-unstyled">
                <% if @person.campus_box.present? %>
                  <li class="contact-box">
                    <i class="fas fa-inbox"></i>
                    <span class="contact-label"><%= t('public_ui.person.mailing_address') %></span>
                    <span class="contact-content" itemprop="address">
                      <%== @person.campus_box.gsub(/\n/, '<br />').gsub(/\r\n/, '<br />') %>
                    </span>
                  </li>
                <% end %>
                <% if @person.physical_address.present? %>
                  <li class="contact-address" itemprop="workLocation" itemscope="" itemtype="http://schema.org/Place">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="contact-label"><%= t('public_ui.person.location') %></span>
                    <span class="contact-content" itemprop="address">
                      <%== @person.physical_address.gsub(/\n/, '<br />').gsub(/\r\n/, '<br />') %>
                    </span>
                  </li>
                <% end %>
              </ul>
            <% end %>
            
          </div>

        </div>
      </div>
    <%# end left column %>

  </div>

</div>
