<% depts.order("name").each do |dept| %>
  
  <%= content_tag(:div, class: department_ancestry_class(dept.ancestry)) do %>

    <div class="parent-dept-wrapper">

      <div class="d-flex flex-row dent-name-row">
        <div class="flex-grow-1 dept-name">
          <%= link_to dept.name, dept_show_path(dept.slug) %>
        </div>

        <% if dept.phone.present? %>
          <div class="contact-info">
            <span class="contact-phone"><i class="fas fa-phone-alt"></i>
              <%= link_phone_number(dept.phone) %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="dept-heads">
        <%= display_department_head(dept.head_person) %>
        <%= display_department_head(dept.asst_head_person) %>
      </div>

    </div>

    <div class="child-dept-wrapper">
      <%# loop through child departments recursively %>
      <%= render 'departments_content', depts: dept.children if dept.children.present? %> 
    </div>

  <% end %>

<% end %>
