<ul class="styled-list">
  <% depts.order("name").each do |dept| %>
    <li>
      <%= link_to dept.name, dept_show_path(dept.slug) %>
      <%= render 'departments_filter_results', depts: dept.children if dept.children.present? %>
    </li>
  <% end %>
</ul>
