<div class="dept-info">
  <div class="row">
    <% if dept.description.present? || dept.url.present? %>
      <div class="dept-about-column col-sm-12 col-md-8">
        <% if dept.description.present? %>
          <section id="dept-description-wrapper" class="expandable-content-wrapper">
            <div class="expandable-content dept-description" itemprop="description">
              <%== dept.description %>
            </div>
          </section>
        <% end %>

        <% if dept.url.present? %>
          <%= link_to('View website »', dept.url, class: 'btn btn-primary btn-sm') %>
        <% end %>

      </div>
    <% end %>
    
    <div class="dept-contact-info-column col-sm-12 col-md-4 one-column <%= 'contact-border' if dept.description.present? %>">
      <ul class="contact-info list-unstyled" aria-label="<%= t('public_ui.dept.contact_label') %>">
        <% if dept.phone.present? %>
          <li class="contact-phone" itemprop="telephone"><%= link_phone_number(dept.phone) %></li>
        <% end %>
        <% if dept.phone2.present? %>
          <li class="contact-phone" itemprop="telephone"><%= link_phone_number(dept.phone2) %></li>
        <% end %>
        <% if dept.fax.present? %>
          <li class="contact-fax" itemprop="faxNumber"><%= dept.fax %> <small class="text-muted"><%= t('public_ui.dept.fax') %></small></li>
        <% end %>
        <% if dept.email.present? %>
          <li class="contact-email" itemprop="email"><%= link_to(dept.email, "mailto:#{dept.email}") %></li>
        <% end %>
        <% if dept.campus_box.present? %>
          <li class="contact-box" itemprop="address" aria-label="<%= t('public_ui.dept.mailing_address_label') %>"><%= t('public_ui.dept.campus_box') %> <%= dept.campus_box %> <span class="sr-only">, <%= t('public_ui.dept.mailing_address_line2') %></li>
        <% end %>
        <% if dept.physical_address.present? %>
          <li class="contact-address" itemprop="address" aria-label="<%= t('public_ui.dept.location') %>"><%= dept.physical_address %></li>
        <% end %>
      </ul>
      <%if dept.contact_form_url.present? %>
        <%= link_to(dept.contact_form_url, class: 'btn btn-success btn-sm contact-url') do %>
          <i class="fas fa-comment"></i> <%= dept.contact_form_url_label_text %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
