<% content_for :html_title, t('public_ui.dept.title') %>

<main id="main-content" role="main" class="row no-gutters departments-view" itemscope itemtype="http://schema.org/Organization">

  <div class="col-12 nav-header-wrapper">
    
    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'departments' %>
    </div>

    <div class="page-header">
      <h1 class="page-title" id="dept-name" itemprop="name"><%= t('public_ui.dept.title') %></h1>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row">

    <%# right column %>
      <div class="col-md-9 order-last">

        <div class="row no-gutters">
          <div class="col-lg-8 dept-search-form-wrapper">
            <%= form_with id: 'departments-filter', class: 'directory-filter', method: :get do |form| %>
              <div class='form-group'>
                <%= form.label 'department-search', t('public_ui.dept.search') %>
                <div class='search-wrapper'>
                  <%= form.text_field 'department-search', class: 'form-control' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div id="departments-content">
          <%= render 'departments_content', depts: @root_dept.children %>
        </div>

        <div id="department-filter-results" style="display: none;">
          <h2><%= t('public_ui.dept.search_results.title') %></h2>
          <%= render 'departments_filter_results', depts: @root_dept.children %>
        </div>

      </div>

    <%# end right column %>

    <%# left column %>
      <div class="col-md-3 order-first">
        <%= render 'application/departments_nav', depts: @root_dept.children %>
      </div>
    <%# end left column %>

    </div>
  </div>
</div>
