<% content_for :html_title, @dept.name %>
<% content_for(:twitter_og_meta) do %>
  <meta property="og:title" content="<%= @dept.name %>" />
  <meta property="og:description" content="<%= dept_og_description(@dept) %>" />
<% end %>

<main id="main-content" role="main" class="row dept-view" itemscope itemtype="http://schema.org/Organization">

  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'departments' %>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row">

    <%# right column %>
      <div class="col-md-9 order-last">

        <div class="page-header">
          <h1 class="page-title" id="dept-name" itemprop="name"><%= @dept.name %></h1>
        </div>

        <% if department_info_present(@dept) == true %>
          <%= render 'dept_info', dept: @dept %>
        <% end %>

        <div class="people-grid">
          <% @dept.all_staff_for_display.each do |p| %>
            <%= render 'application/people_grid', p: p %>
          <% end %>
        </div>

      </div>

      <hr>
    <%# end right column %>

    <%# left column %>
      <div class="col-md-3 order-first">
        <%= render 'application/departments_nav', depts: @root_dept.children %>
      </div>
    <%# end left column %>

    </div>
  </div>
</div>
