<% subj.external_contacts.order(:name).uniq.each do |ec| %>

  <div class="row external-contact-row">

    <div class="col-lg-1 col-md-3 col-sm-4">
      <div class="photo">
        <%= link_to(ec.url, target: "_blank", aria: {label: ec.name}) do %>
          <%= image_tag(DulDirectoryAdmin.missing_photo_url, class: "person-thm media-object", alt: "") %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-11 col-sm-9 col-sm-8">

      <div class="row">

        <div class="col-lg-5 col-md-12">
          <div class="person-name">
            <%= link_to( ec.name, ec.url, target: "_blank" ) %>
          </div>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12">
          <% if ec.description.present? %>
            <p><%= ec.description %></p>
          <% end %>
        </div>

      </div>

    </div>

  </div>

<% end %>
