<% subj.people.order(:last_name).order(:display_name).uniq.each do |p| %>

  <% if p.active? %>

    <div class="row subject-specialist-row">

      <div class="col-lg-1 col-md-3 col-sm-4">
        <%= link_to(staff_show_path(p), aria: {label: p.display_name}, item_prop: 'url') do %>
          <%= staff_photo(person: p, classes: "person-thm media-object", size: "thumbnail") %>
        <% end %>
      </div>

      <div class="col-lg-11 col-sm-9 col-sm-8">

        <div class="row">

          <div class="col-lg-5 col-md-12">

            <div class="person-name">
              <%= link_to( p.display_name, staff_show_path(p) ) %>
            </div>

            <div class="person-job-title">
              <%= p.display_title %>
            </div>

          </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
            <% unless p.email_privacy || !p.phone.present? %>

              <ul class="contact-info list-unstyled">
                <% unless p.email_privacy %>
                  <li class="contact-email" itemprop="email">
                    <i class="fas fa-envelope"></i> <%= mail_to p.email, p.email %>
                  </li>
                <% end %>
                <% if p.phone.present? && !p.hide_phone_number %>
                  <li class="contact-phone" itemprop="telephone">
                    <i class="fas fa-phone-alt"></i> <%= link_phone_number(p.phone) %>
                  </li>
                <% end %>
              </ul>

            <% end %>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
            <% if p.libguide_id.present? || p.libcal_id.present? %>

              <ul class="list-unstyled subject-specialist-actions">
                <% if p.libguide_id.present? %>
                  <li>
                    <%= link_to( libguide_link(person: p), class: 'btn btn-light btn-sm' ) do %>
                      <%= t('public_ui.person.view_research_guides') %> <span class='sr-only'>by <%= p.display_name %></span>
                    <% end %>
                  </li>
                <% end %>
                <% if p.libcal_id.present? %>
                  <li>
                    <%= link_to( "https://duke.libcal.com/appointment/#{p.libcal_id}", class: 'btn btn-light btn-sm' ) do %>
                      <%= t('public_ui.person.schedule_an_appointment') %> <span class='sr-only'>with <%= p.display_name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>

            <% end %>
          </div>

        </div>

      </div>

    </div>
  
  <% end %>

<% end %>
