<% content_for :html_title, t('public_ui.subject_specialists.title') %>
<% content_for(:twitter_og_meta) do %>
  <meta property="og:title" content="<%= t('public_ui.subject_specialists.title') %>" />
<% end %>

<main id="main-content" role="main" class="row subject-specialists">
  
  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'subject-specialists' %>
    </div>

    <div class="page-header">
      <h1 class="page-title" id="dept-name" itemprop="name"><%= t('public_ui.subject_specialists.title') %></h1>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row no-gutters">

      <div class="col-sm-12">

        <div class="row no-gutters">

          <div class="col-lg-6">
            <%= form_with id: 'subject-specialist-filter', class: 'directory-filter', method: :get do |form| %>
              <div class='form-group'>
                <%= form.label 'subject-search', t('public_ui.subject_specialists.search') %>
                <div class='search-wrapper'>
                  <%= form.text_field 'subject-search', class: 'form-control' %>
                </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>


      <div id="subject-specialist-list" class='col-sm-12'>

        <% @subjects.order(:title).each do |subj| %>

          <% if subj.people.any? || subj.external_contacts.any? %>
            
            <div class="subject-group">
              
              <h2 id="<%= subj.id %>" class="subject-title"><%= subj.title %></h2>
              
              <% if subj.people.any? %>
                <%# render each Subject Specialist %>
                <%= render 'subject_specialist', subj: subj %>
              <% end %>

              <% if subj.external_contacts.any? %>
                <%# render each External Contact %>
                <%= render 'external_contact', subj: subj %>
              <% end %>
            
            </div>

          <% end %>

        <% end %>

      </div>

    </div>

  </div>

</div>
