<% exec_group.each do |eg| %>

  <div class="media eg-member">

    <%= link_to(staff_show_path(eg), 'aria-label': eg.display_name, 'item-prop': 'url') do %>

      <%= staff_photo(person: eg, styles: "min-width: 150px;", classes: "person-thm pr-4") %>

    <% end %>

    <div class="media-body">

      <h2 class="person-name" itemprop="name">
        <%= link_to(eg.display_name, staff_show_path(eg)) %>
      </h2>

      <div class="person-job-title"><%= eg.display_title %></div>

      <ul class="contact-info list-unstyled" aria-label="<%= t('public_ui.person.contact_label') %>">

        <% if eg.phone.present? && !eg.hide_phone_number %>
          <li class="contact-phone d-flex flex-row" itemprop="telephone">
            <i class="fas fa-phone-alt"></i>
            <div><%= link_phone_number(eg.phone) %></div>
          </li>
        <% end %>

        <% unless eg.email_privacy %>
          <li class="contact-email d-flex flex-row" itemprop="email" title="<%=eg.email %>">
            <i class="fas fa-envelope"></i>
            <div><%= mail_to eg.email, eg.email %></div>
          </li>
        <% end %>

        <% if eg.campus_box.present? %>
          <li class="contact-box d-flex flex-row" aria-label='<%= t('public_ui.person.mailing_address') %>'>
            <i class="fas fa-inbox"></i>
            <div itemprop="address"><%== eg.campus_box.gsub(/[$]/, '<br />') %><br /></div>
          </li>
        <% end %>

        <% if eg.physical_address.present? %>
          <li class="contact-address d-flex flex-row" aria-label="<%= t('public_ui.person.location') %>">
            <i class="fas fa-map-marker-alt"></i>
            <div itemprop="address"><%== eg.physical_address.gsub(/[$]/, '<br />') %></div>
          </li>
        <% end %>

      </ul>

      <% if show_depts == true && eg.departments.present? %>
        <%# get person's 'top level' departments %>
        <% eg.departments.where(ancestry: "1").each do |dept| %>

          <ul class="list-unstyled eg-responsibilities">
            <li>
              <%# eg person's department %>
              <%= link_to dept.name, dept_show_path(dept) %>

              <%# eg person's children departments %>
              <% if dept.children.present? %>
              <ul class="list-unstyled">
                <% dept.children.order(:name).each do |child| %>
                  <li><%= link_to child.name, dept_show_path(child) %></li>
                <% end %>
              </ul>
              <% end %>
            </li>
          </ul>

        <% end %>


      <% end %>

    </div>

  </div>

<% end %>
