<% content_for :html_title, t('public_ui.executive_group.title') %>
<% content_for(:twitter_og_meta) do %>
  <meta property="og:title" content="<%= t('public_ui.executive_group.title') %>" />
<% end %>

<main id="main-content" role="main" class="row dept-view" itemscope itemtype="http://schema.org/Organization">

  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'executive-group' %>
    </div>

    <div class="page-header">
      <h1 class="page-title" id="dept-name" itemprop="name"><%= t('public_ui.executive_group.title') %></h1>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row no-gutters">

      <div class="col-sm-12">

        <%# render Head of Library (pass option re: not rendering departments) %>
        <%= render 'executive_group', exec_group: @head_librarian, show_depts: false %>

        <%# render rest of EG (pass option re: rendering departments) %>
        <%= render 'executive_group', exec_group: @other_eg_members, show_depts: true %>

      </div>

    </div>
  </div>
</div>
