STAFF DIRECTORY CHANGE -- PREFERRED TITLE UPDATED

The preferred title value for <%= @display_name %> (<%= @net_id %>) has been updated.

Old value: <%= @old_preferred_title %>
New value: <%= @new_preferred_title %>
---

View <%= @net_id %>'s profile: <%= staff_show_url(@slug) %>
