<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Staff Directory Change (Addition)</h1>
    <p>
      The employee, <%= @display_name %>, has been added to the Perkins Library Staff Directory.
    </p>
  </body>
</html>
