<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Staff Directory Change (Preferred Title)</h1>
    <p>
      The preferred title value for <%= @display_name %> (<%= @net_id %>) has been updated.<br />
      <strong>Old value: </strong><%= @old_preferred_title %><br />
      <strong>New value: </strong><%= @new_preferred_title %><br /><br />
      View <%= @net_id %>'s profile: <%= link_to staff_show_url(@slug), staff_show_url(@slug) %>.
    </p>
  </body>
</html>
