<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Staff Directory Change (Photo Updated)</h1>
    <p>
      The staff photo for <%= @display_name %> (<%= @net_id %>) has been updated.
      View <%= @net_id %>'s profile: <%= link_to staff_show_url(@slug), staff_show_url(@slug) %>.
    </p>
  </body>
</html>
