<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Staff Directory Change (Visibility Change)</h1>
    <p>
      The Visibility flag for <%= @display_name %> (<%= @netid %>) has been set to '0' as he/she/them no longer appears in the Duke LDAP feed.
    </p>
  </body>
</html>
