CHANGES To DUL STAFF DIRECTORY

Staff Additions
<% if @additions&.any? %>
  <% @additions.each do |person| %>
  * <%= person[:display_name] %>&nbsp;(<%= person[:netid] %>)
  <% end %>
<% else %>
  No new staff persons were discovered.
<% end %>

<h2>Staff Suppressions</h2>
<% if @suppressions&.any? %>
  The 'Active' property for the following personnel has been set to 'false' because these entries no longer appear under Perkins Library.
  ** Please be reminded to manually remove the entries from the Staff Directory. **
  <% @suppressions.each do |person| %>
  * <%= person[:display_name] %>&nbsp;(<%= person[:netid] %>)</li>
  <% end %>
<% else %>
  No staff removals were discovered.
<% end %>

