<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Changes To DUL Staff Directory</title>
  </head>
  <body>
    <h1>Changes To DUL Staff Directory</h1>
      <h2>Staff Additions</h2>
      <% if @additions&.any? %>
        <ul>
        <% @additions.each do |person| %>
          <li><%= person[:display_name] %>&nbsp;(<%= person[:netid] %>)</li>
        <% end %>
        </ul>  
      <% else %>
        <p>No new staff persons were detected.</p>
      <% end %>
      
      <h2>Staff Suppressions</h2>
      <% if @suppressions&.any? %>
        <p><strong>The <em>active</em> property for the following personnel has been set to <em>false</em> because these entries no longer appear under Perkins Library.</strong></p>
        <p>Please be reminded to manually remove them the Staff Directory.</p>
        <ul>
        <% @suppressions.each do |person| %>
          <li><%= person[:display_name] %>&nbsp;(<%= person[:netid] %>)</li>
        <% end %>
        </ul>
      <% else %>
        <p>No staff removals were discovered.</p>
      <% end %>
  </body>
</html>
