<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>WEEKLY REPORT: DUL Staff Directory</title>
  </head>
  <body>
    <h1>Active Library Staff With Blank "Preferred Title"</h1>
    <% if !@people_no_title.empty? %>
      <ul>
      <% @people_no_title.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% else %>
      <p>No staff memebers with a blank "Preferred Title" were located.</p>
    <% end %>

    <h1>Active Library Staff Without Department Assignment</h1>
    <% if !@people_no_dept.empty? %>
      <ul>
      <% @people_no_dept.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% else %>
      <p>All staff are assigned to at least one department.</p>
    <% end %>
  </body>
</html>
