WEEKLY REPORT: DUL Staff Directory

Active Library Staff With Blank "Preferred Title"
-------------------------------------------------
<% if !@people_no_title.empty? %>
  <% @people_no_title.each do |row_message| %>
    * <%= row_message %>
  <% end %>
<% else %>
  No staff members with a blank "Preferred Title" were located.
<% end %>

Active Library Staff Not Assigned To A Department
-------------------------------------------------
<% if !@people_no_dept.empty? %>
  <% @people_no_dept.each do |row_message| %>
    * <%= row_message %>
  <% end %>
<% else %>
  All staff are assigned to at least one department.
<% end %>
