/*
  Customize RailsAdmin theme here.
  Copy this file to your app/assets/stylesheets/rails_admin/custom/theming.scss, leave this one untouched
  Don't require it in your application.rb
  Look at the markup in RailsAdmin and go there to get inspiration from:
  http://getbootstrap.com
  Test me: (actual color should be the one defined in variables.scss if you did)
  body { background-color: $link-color; }
*/

.rails_admin .alert-success a {
  color: #3c763d;
  text-decoration: underline;
}

/* pin save buttons to bottom of viewport */

.rails_admin .form-horizontal {
  margin-bottom: 85px;

  .form-actions {
    width: 100% !important;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    z-index: 10;

    text-align: center;

    position: fixed;
    bottom: 0;

    background: #fff;
    border-top: 1px solid #e3e3e3;
    box-shadow: 0 0 8px rgba(0,0,0,0.075), 
                0 0 16px rgba(0,0,0,0.05), 
                0 0 32px rgba(0,0,0,0.025), 
                0 0 64px rgba(0,0,0,0.0125),
                0 0 128px rgba(0,0,0,0.0125);
    clip-path: inset(-128px 0 0 0);
  }
}

@media (min-width: 768px) {
  .rails_admin .form-horizontal {
    .form-actions {
      .col-sm-10 {
        margin-left: 0;
        padding-left: 0;
      }

      .btn-primary {
        width: 250px;
      }
    }
  }
}

