<% content_for :html_title, 'Page Not Found' %>

<main id="main-content" role="main" class="row">

  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'none' %>
    </div>

    <div id="page-header">
      <div class="page-header">
        <h1 class="title" id="page-title">Page Not Found (404)</h1>
      </div>
    </div>
  </div>

  <div class="col-12 content-wrapper">

    <div class="row no-gutters">

      <div class="col-sm-12">
        
        <p>The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>

        <p>If you need assistance, please <a href="https://library.duke.edu/services/forms/webmaster">contact us</a></p>

      </div>

    </div>
  </div>

</div>



