/* Breadcrumb styles */

.breadcrumb {
  font-size: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  background-color: $facet-grey;
  color: $gray-dark;

  .breadcrumb-separator {
    margin: 0 .4rem 0 .4rem;
  }

  .breadcrumb-item {
    @include media-breakpoint-down(sm) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 12rem;
    }
  }
}
