/* Browse Styles (/browse) */

#abc-nav {
  margin-bottom: 1.5rem;

  .btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .btn {
    flex: 1 1 11%;
    padding: .625rem .3125rem;
    font-size: 1.0625rem;

    @include media-breakpoint-up(sm) {
      flex: 1 1 7%;
    }

    @include media-breakpoint-up(lg) {
      flex: 1 1 auto;
    }
  }

  .active,
  .active:hover {
    background: tint($piedmont, 75%);
    color: shade($piedmont, 40%);
    border: 1px solid $piedmont;
  }

  .disabled:hover {
    color: #222222;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    opacity: 0.65;
  }
}

