/* Departments Styles (/dept/*) */

/* FOR INDEX (/dept) */
#main-content.departments-view {
  
  #departments-filter {
    
    margin-bottom: 2rem;

    label {
      font-size: 1.0625rem;
      font-weight: bold;
    }
  }

  .search-wrapper::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f002";
    position: absolute;
    right: .5rem;
    top: 2.125rem;
    font-size: 1.5rem;
    color: $gray-light;
  }

  .dept-name {
    margin-bottom: .125rem;
    a {
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .dept-heads {
    line-height: 1.3;
    .dept-head {
      margin-bottom: .5rem;
    }
  }

  .contact-info {
    .contact-phone {
      white-space: nowrap;
      margin-right: .5rem;
    }
    .fas {
      width: 1.125rem;
      margin-right: .5rem;
      color: $piedmont;
    }
  }

  .dept-1 {
    margin-bottom: 2rem;
    box-shadow: 1px 2px 4px $gray-light-more;
    border-left: 1px solid shade($gray-lighter, 5%);
    
    .dept-name a {
      font-size: 1.625rem;
    }

    .dept-head {
      .dept-head-name {
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
      } 
      .dept-head-title {
        font-size: 1.2rem;
      }

      &:last-child {
        margin-top: .75rem;
      }
    }

    > .parent-dept-wrapper {
      color: $gray-dark;
      background-color: $facet-grey;
      border: 1px solid shade($gray-lighter, 5%);
      border-left: .5rem solid $piedmont;
      padding: .75rem 1rem;
      
      .dept-name {
        margin-bottom: .35rem;
      }
      .contact-info {
        padding-top: .35rem;
      }
    }

    .dept-2:first-child {
      padding-top: .75rem;
    }

    .dept-2:last-child {
      padding-bottom: 1.25rem;
    }
  }


  .dept-2 {
    .dept-name a {
      font-size: 1.25rem;
    }
    .dept-head {
      .dept-head-name {
        display: inline-block;
      }
      .dept-head-title {
        font-size: 1rem;
      }
      .dept-head-title::before {
        content: '—';
        margin: 0 .25rem 0 .25rem;
      }
      &:last-child {
        margin-top: 0;
      }
    }
    > .parent-dept-wrapper {
      padding: .75rem 1rem 0 1.5rem;
    }

    .dept-3:first-child {
      margin-top: .5rem;
    }

    .dept-3:last-child {
      margin-bottom: .5rem;
      .dept-head {
        margin-bottom: 0;
      }
    }

    &:last-child {
      .parent-dept-wrapper {
        padding-bottom: 0;
      }
    }
  }

  .dept-3 {
    border-left: .5rem solid shade($gray-lighter, 5%);
    margin-left: 1.5rem;
    
    .dept-name a {
      font-size: 1.125rem;
    }

    .dept-head {
      // margin-bottom: 1rem;
    }

    .parent-dept-wrapper {
      padding: 0 1rem 0 1rem;
      margin-bottom: .5rem;
    }

     &:first-child {
        .parent-dept-wrapper {
          margin-top: .125rem;
        }
     }
  }

  .dept-4 {
    margin-top: -.5rem;
    margin-left: 1.5rem;
  }
}



/* FOR SHOW (/dept/dept-name) */
#main-content.dept-view {
  
  .dept-description {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: $gray-dark;
    margin-bottom: 1.5rem;
  }

  .dept-about-column {
    a.btn {
      margin-bottom: 1rem;
    }
  }

  .dept-info {
    
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid shade($gray-lighter, 5%);

    .btn-sm {
      font-size: .9375rem;
    }

    .dept-contact-info-column {
      
      &.contact-border {
        border-left: 1px dotted $gray-light-more;
      }

      ul.contact-info {

        li {
          line-height: 1.2;
          margin-bottom: .35rem;
          margin-left: 1.75rem;
        }

        li::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          width: 1.125rem;
          color: $piedmont;
          position: absolute;
          left: 1rem;
        }

        li.contact-phone::before {
          content: "\f879";
        }
        li.contact-fax::before {
          content: "\f1ac";
        }
        li.contact-email::before {
          content: "\f0e0";
        }
        li.contact-box::before {
          content: "\f01c";
        }
        li.contact-address::before {
          content: "\f3c5";
        }
      }

      .btn.contact-url {
        background-color: $piedmont;
        color: $gray-dark;
        padding-right: 1rem;
        padding-left: .5rem;
        margin-bottom: .5rem;
        border: none;

        &:hover {
          background-color: shade($piedmont, 20%);
          color: $gray-lightest;
        }
        .fas {
          margin-right: .25rem;
          opacity: .35;
        }
      }

    }

    .contact-info {
      color: $gray-dark;
    }
  }

  .people-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3,1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4,1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(5,1fr);
    }

    .person-wrap {
      margin-bottom: 1rem;
    }

    .person-name {
      font-size: 1.1rem;
      line-height: 1.2;
      font-weight: bold;
    }

    .person-job-title {
      color: $gray;
      line-height: 1.2;
    }
    

    .photo {
      margin-bottom: .75rem;

      /* temporary work-around until we have real photo infrastructuer setup */
      aspect-ratio: 3 / 4;
      overflow: hidden;
      
      img {
        max-width: 100%;
      }

    }


  }
}
