/* Left Navigation (departments) Styles */

.dept-nav {

  div.card {

    .card-header {
      font-size: 1.125rem;
      padding-right: 1.875rem;
      
      > a {
        color: $gray-dark;
      }
  
      &.active {
        background: tint($piedmont, 75%);
        color: shade($piedmont, 40%);
        border-left: .25rem solid $piedmont;
        padding-left: .6875rem;

        > a {
          color: shade($piedmont, 40%);
        }
      }

    }

    .list-group-item.active-subdept {
      background-color: white;
      border-left: .25rem solid $piedmont !important;
      padding-left: .6875rem;
    }

    ul { list-style: none; }

    li > a.active {
      font-weight: bold;
    }

    a.link-text {
      margin-right: 0;
    }

    a.collapse-control {
      padding: .75rem;
      font-size: 0.8rem;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    a.collapse-control.collapsed::before {
      font-family: "Font Awesome 5 Free";
      content: "\f078";
      font-weight: 900;
      color: $gray-dark;
    }

    a.collapse-control::before {
      font-family: "Font Awesome 5 Free";
      content: "\f077";
      font-weight: 900;
      color: $gray-dark;
    }

    ul.dept-3 {
      border-left: none !important;
      margin-left: 0 !important;

      border-top: 1px solid tint($gray-light-more, 25%);
      padding-left: 0;
      padding-top: 1rem;
      margin-top: 1rem;

      li {
        padding: 0 !important;
        margin-bottom: 0.8rem;
        line-height: 1.2rem;
        border: none !important;

        a {
          font-size: 1rem;
        }
      }

    }

    ul.dept-4 {
      margin-top: 0 !important;
      margin-left: 0 !important;
      padding-left: 0;
      padding-top: 0.5em;
      font-size: .875rem;
      li {
        margin-bottom: 0;
        a::before {
          content: "\2014";
          color: $gray-light-more;
          margin-right: .375rem;
          display: inline-block;
        }
      }
    }


    .dept-3 > li > a.active::before,
    .dept-4 > li > a.active::before {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      color: $piedmont;
      margin-right: .375rem;
    }

    .dept-3 > li > a.active::before {
      margin-left: -0.75rem;
      font-size: 1.25rem;
      position: absolute;
    }

  }

}

