/* Executive Group Styles (/executive-group) */

.eg-member {

  margin-bottom: 4rem;

  .media-body {
    h2.person-name {
      font-size: 1.65rem;
      font-weight: bold;
    }

    .person-job-title {
      font-weight: bold;
      color: $gray;
    }
  }

  .photo {
    width: 12.5rem;
    @include media-breakpoint-up(lg) {
      width: 15.625rem;
      img {
        max-width: 15.625rem;
      }
    }
  }

  ul.contact-info {
    border-top: 1px dotted $gray-light-more;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $gray;
    @include media-breakpoint-up(md) {
      column-count: 2;
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
    }

    li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: 0.4rem;
      color: $gray;
      font-size: 1rem;
      line-height: 1.2rem;
    }
    
    .fas {
      width: 1.125rem;
      margin-right: .5rem;
      color: $piedmont;
    }

  }

  ul.eg-responsibilities {
    
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dotted $gray-light-more;

    li {
      a {
        font-weight: bold;
      }
      ul {
        margin-top: .5rem;
      }
    }

    li li {
      border-left: .5rem solid shade($gray-light-more, 10%);
      padding-left: .75rem;
      a {
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }
  
}
