/* Main Template Styles */

#main-content {

  .page-header {
    margin: 0 0 1rem;
    border-bottom: 1px solid shade($gray-lighter, 5%);
  }

}

.btn-light {
  background-color: tint($gray-light-more, 25%);
}

.photo img {
  width: 100%;
  max-width: 12.5rem;
}

#s-lg-widget-1 ul,
ul.styled-list {

  margin-bottom: .5rem;
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  li {
    margin-top: .25rem;
    margin-bottom: .5rem;
    padding-left: 0rem;
    margin-left: 1.5rem;
  }
  
  li:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    display: block;
    margin-left: -2.3em;
    width: 2.3em;
    color: tint($gray-light, 20%);
    font-size: 0.42em;
    vertical-align: middle;
    margin-top: 1em;
    position: absolute;
  }
  li li:before {
    content: "\f111";
    font-weight: 400;
  }
  li li li:before {
    content: "\f0c8";
    font-weight: 900;
  }
  li li li li:before {
    content: "\f0c8";
    font-weight: 400;
  }
}


.btn-default {
  color: $gray-darker;
  background-color: shade($gray-lighter, 5%);
  border-color: shade($gray-lighter, 5%);
  &:hover {
    background-color: shade($gray-light-more, 5%);
    border-color: shade($gray-light-more, 15%);
  }
}


/* these styles were not displaying correctly after rails 7/2 update - something to do with importing the dul_bootstrap theme? */
/* so these are 'brute force' fixes to get things working correctly */

.btn-primary {
  color: #fff;
  background-color: #053482;
  border-color: #053482;
}

.btn-primary:hover {
  color: #fff;
  background-color: #042762;
  border-color: #042762;
}


hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #e5e5e5;
}