/* Styles for nav bar */

#directory-nav {
  margin-bottom: 1.25rem;
  background-color: $dul-dulcet-lightblue !important;
  
  #navbar-show-hide {
    
    color: #fff;
    width: 100%;
    border: none;
    background: shade($dul-dulcet-lightblue, 30%);
    height: 2.5rem;
    font-size: 1rem;
    display: block;
    
    @include media-breakpoint-up(md) {
      display: none;
    }

  }

  #navbar-content {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  .browse-buttons {
    margin: .675rem .675rem 0 .675rem;
  
    @include media-breakpoint-up(md) {
      margin: 0;
    }

    a.btn {
      color: $facet-grey;
      font-weight: bold;
      line-height: 2.75rem;
      padding: .125rem .25rem;
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding: .625rem 1.125rem;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
      }
      &.active {
        background-color: shade($dul-dulcet-lightblue, 20%);
        text-decoration: none;
      }
    }
  }
}

#staff-search-form {
  margin: .675rem;
  border: 1px solid shade($dul-dulcet-lightblue, 25%);

  .form-group {
    margin-bottom: 0;
  }

  .easy-autocomplete {
    padding: 0;
  }

  .eac-light {
    height: 2.75rem;
  }

  input {
    font-size: 1.0625rem;
    padding: .625rem 1.125rem;
    background: shade($dul-dulcet-lightblue, 20%);
    border-color: shade($dul-dulcet-lightblue, 20%);
    color: white;
    height: 100%;

    &::placeholder { 
      color: $gray-lighter;
      opacity: 1;
      font-weight: 100;
    }

    &:-ms-input-placeholder {
      color: $gray-lighter;
      font-weight: 100;
    }

    &::-ms-input-placeholder {
      color: $gray-lighter;
      font-weight: 100;
    }
  }

  .btn {
    background: shade($dul-dulcet-lightblue, 20%);
    padding: 0 .875rem;
    color: $facet-grey;
    height: 100%;
    &:hover {
      color: #fff;
    }
  }
}
