/* People Styles (/staff/*) */

#main-content.person-view {

  h2 {
    font-size: 1.875rem;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  .person-name-wrapper {

    padding-bottom: .75rem;
    margin: 1.5rem 0 1.5rem;
    border-bottom: 1px solid shade($gray-lighter, 2.5%);

    .person-title {
      font-weight: 500;
    }

    .person-job-title {
      font-size: 1.5rem;
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-weight: 300;
      color: $gray;
    }

    .icon-links {
      margin-bottom: 1rem;

      .item {
        display: inline-block;
        margin-left: 1rem;

        &:first-of-type {
          margin-left: 0;
        }

        a {
          text-decoration: none !important;
          display: block;
          font-size: .9rem;
          background-color: $facet-grey;
          border: 1px solid shade($gray-lighter, 2.5%);
          padding: .125rem .375rem .1875rem .375rem;

          &::before {
            content: ' ';
            display: inline-block;
            background-repeat: no-repeat;
            height: 1rem;
            width: 1rem;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: .25rem;
            top: .25rem;
            position: relative;
          }

        }

        .scholars-icon-link::before {
          background-image: url(image_path('scholars-at-duke-icon.png'));
        }

        .orcid-icon-link::before {
          background-image: url(image_path('orcid_32x32.png'));
        }


      }
    }
  }

  .trainings-list {
    li { 
      margin-left: 2.5rem;

      &::before {
        content: ' ';
        display: block;
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        left: 1.25rem;
        margin-top: .25rem;
      }
    }

    .training-1::before {
      background-image: url(image_path('pride-24.png'));
    }
  }

  .contact-wrap {

    @include media-breakpoint-up(md) {
      padding-right: 1.25rem;
      border-right: 1px solid shade($gray-lighter, 2.5%);
      box-shadow: 1.125rem .4375rem .5rem -1.0625rem rgba(0,0,0,0.1);
      padding-bottom: 40px;
    }

    .fas,
    .far {
      width: 1.125rem;
      margin-right: .25rem;
      color: $piedmont;
    }

    li {
      margin-bottom: 0.4rem;
      color: $gray;
      font-size: 1.0625rem;
      line-height: 1.2rem;
    }

    .contact-label {
      text-transform: uppercase;
      color: $gray-dark;
      font-weight: bold;
      font-size: 0.95rem;
      letter-spacing: .05em;
    }

    .contact-content {
      padding-left: 1.5rem;
      display: block;
      line-height: 1.5rem;
      font-size: 1rem;
    }

    .contact-email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .contact-addresses li {
      margin-bottom: 1rem;
    }

    .photo {
      margin-bottom: 1.25rem;
      img {
        max-width: 18.75rem;
      }
    }

    .scheduler-button {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      display: block;
      margin-bottom: 1.25rem;
      border-radius: .1875rem;
      margin-bottom: 1rem;
      padding: .75rem;
    
      .far, .fas {
        width: 1.125rem;
        margin-right: .25rem;
        color: #fff;
      }
    }
  }
}

$baseline: 1.625rem;

.profile-wrapper {
  margin-bottom: 2rem;

  #profile-content {
    
    h2 {
      &:first-of-type {
        margin-top: -.5rem;
      }
    }

    &.collapse:not(.show) {
      display: block !important;
      max-height: #{$baseline * 6};
      overflow: hidden;
    }

    &.collapse,
    &.collapsing {
      height: #{$baseline * 6};
    }

    &.collapse {
      position: relative;
      display: block;
      overflow: hidden;
    }

    &.collapse:before {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: #{$baseline * 1.5};
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    &.collapse.show {
      height: auto;
    }

    &.collapse.show:before {
      display: none;
    }

  }

  .show-hide-btn-wrapper {

    border-top: 1px solid shade($gray-lighter, 2.5%);
    margin-top: 1.5rem;
    padding-top: 1rem;
    
    #show-hide-btn {
      &.collapsed:before {
        content: 'show more';
      }

      &.collapsed:after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: '\f13a';
        margin-left: .5rem;
      }

      &:not(.collapsed):before {
        content: 'show less';
      }

      &:not(.collapsed):after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: '\f139';
        margin-left: .5rem;
      }
    }
  }
}

#s-lg-widget-1 {
  margin-bottom: 1rem !important;
}
