#main-content.abc-view, #main-content.search-results-view {

  .person-wrap {
    margin-bottom: 1rem;
  }

  .people-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(7, 1fr);
    }

    .photo {
      margin-bottom: .75rem;
      aspect-ratio: 3 / 4;
      overflow: hidden;
    }

    .person-name {
      font-size: 1.1rem;
      line-height: 1.2;
      font-weight: bold;
    }

    .person-job-title {
      color: $gray;
      line-height: 1.2;
    }

  }

}
