/* Subject Specialists Styles (/subject-specialists) */

#subject-specialist-filter {
  
  margin-bottom: 2rem;

  label {
    font-size: 1.0625rem;
    font-weight: bold;
  }

  .search-wrapper::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f002";
    position: absolute;
    right: .5rem;
    top: 2.125rem;
    font-size: 1.5rem;
    color: $gray-light;
  }
}

#subject-specialist-list {

  .subject-specialist-row,
  .external-contact-row {
    margin-bottom: 1rem;
  }

  .subject-group {
    
    margin-bottom: 2rem;

    h2 {
      font-size: 1.875rem;
      font-weight: 300 !important;
      border-bottom: 1px dotted $gray-light-more;
      padding-bottom: .5rem;
      margin-bottom: 1rem;
    }

    .person-name {
      font-size: 1.25rem;
      a {
        font-weight: bold;
      }
    }

    .person-job-title {
      font-size: 1.0625rem;
      margin-bottom: .5rem;
    }


    ul.contact-info {
      
      .fas {
        width: 1.125rem;
        margin-right: .5rem;
        color: $piedmont;
      }

    }

    .subject-specialist-actions {
      .btn {
        font-size: .9375rem;
        margin-bottom: .25rem;
      }
    }

  }
}
