<% content_for :html_title, t('public_ui.browse.title', letter: params[:id]&.upcase) %>
<% content_for(:twitter_og_meta) do %>
  <meta property="og:title" content="<%= t('public_ui.browse.title', letter: params[:id]&.upcase) %>" />
<% end %>

<main id="main-content" role="main" class="row abc-view" itemscope itemtype="http://schema.org/Organization">

  <div class="col-12 nav-header-wrapper">

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: 'staff-a-z' %>
    </div>

    <div id="page-header">
      <div class="page-header">
        <h1 class="title" id="page-title"><%= t('public_ui.browse.title', letter: params[:id]&.upcase) %></h1>
      </div>
    </div>

    <nav id="abc-nav" aria-label="<%= t('public_ui.browse.aria_label') %>" role="navigation">
      <div class="btn-group" role="group">
        <%= link_to t('public_ui.browse.all'), browse_index_path, class: 'btn btn-default' %>
        <%== abc_nav(@all_people) %>
      </div>
    </nav>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row no-gutters">

      <div class="col-sm-12">
        <div class="people-grid">
          <% @people.each do |p| %>
            <%= render 'application/people_grid', p: p %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
