<% content_for :html_title, t('public_ui.search.title') %>

<main id="main-content" role="main" class="row no-gutters search-results-view">

  <div class="col-12 nav-header-wrapper">

    <div class="page-header">
      <h1 class="page-title" id="search-results" itemprop="name"><%= t('public_ui.search.title') %></h1>
    </div>

    <div id="directory-nav" class="col-sm-12 pr-0 pl-0">
      <%= render 'application/nav_bar', active: '' %>
    </div>

  </div>

  <div class="col-12 content-wrapper">

    <div class="row">

      <div class="col-12">

        <% if @query.blank? %>
          <p class="lead"><em><%= t('public_ui.search.no_query') %></em></p>
        <% elsif @person_results.blank? && @department_results.blank? %>
          <p class="lead"><%= t('public_ui.search.no_results_html', query: @query) %></p>
        <% end %>

        <% unless @query.blank? %>
          <% unless @person_results.blank? %>
            <h2><%= t('public_ui.search.staff_heading') %></h2>
            <div id="directory-main-content" class="people-grid">
              <% @person_results.each do |person| %>
                <div class="person-wrap" itemprop="employee" itemscope itemtype="https://schema.org/Person">
                  <%= link_to staff_show_path(person), aria: {label: person.display_name}, itemprop: 'url' do %>
                    <%= staff_photo(person: person, size: "thumbnail") %>
                  <% end %>
                  <div class="person-name" itemprop="name">
                    <%= link_to person.display_name, staff_show_path(person) %>
                  </div>
                  <div class="person-job-title" itemprop="jobTitle">
                    <%= person.display_title %>
                  </div>
                </div>
              <% end %>

              <div class="person-wrap">
                <%= link_to t('public_ui.search.view_all_people_html'),
                            browse_index_path,
                            class: "browse-more-people" %>
              </div>
            </div>
          <% end %>
          <% unless @department_results.blank? %>
            <h2><%= t('public_ui.search.departments_heading') %></h2>
            <div class="department-results-list">
              <ul class="spacing-sm list-styled">
                <% @department_results.each do |department| %>
                  <li>
                    <%= link_to department.name, dept_show_path(department) %>
                  </li>
                <% end %>
              </ul>
              <p>
                <%= link_to t('public_ui.search.view_all_departments_html'),
                            dept_index_path,
                            class: 'browse-more-departments' %>
              </p>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>

  </div>

</main>
