<!-- NOTE: Override of partial from dul_bootstrap_theme.
           Misnomer class names remain to pick up styles
           from dul_bootstrap_theme. -->

<div class="drupal-shib-login-wrapper">
  <%= link_to t('public_ui.footer.login'),
              rails_admin_path,
              class: 'drupal-shib-login btn-sm btn-light' %>
</div>
