<div class="container">  
  <nav role="navigation" aria-label="Breadcrumb">
    <div class="row">
      <div itemscope="" class="breadcrumb col-12" itemtype="https://schema.org/breadcrumb">
        
        <%= link_to t('public_ui.breadcrumbs.home'), t('public_ui.organization.url'), class: 'breadcrumb-item' %> 
          <span class="breadcrumb-separator">&gt;</span>

        <%= link_to t('public_ui.breadcrumbs.about'), "#{t('public_ui.organization.url')}#{t('public_ui.breadcrumbs.about_path')}", class: 'breadcrumb-item' %> 
          <span class="breadcrumb-separator">&gt;</span>

        <%= render_breadcrumbs separator: ' <span class="breadcrumb-separator">&gt;</span> ', class: 'breadcrumb-item' %>
      </div> 
    </div>
  </nav>
</div>

