<nav class="dept-nav" aria-label="<%= t('public_ui.dept_nav.aria_label') %>" role="navigation">
  <%# 'depts' passed from departments/show.html.erb %>
  <%= dept_nav_cards(@dept, depts) %>

  <div class="card">
    <div class="card-header">
      <%= org_chart_link %>
    </div>
  </div>

</nav>
