<div id="autosuggest-data" data-autosuggest="<%= Autosuggest.suggestions.join('|||') %>"></div>

<button class="navbar-toggler" id="navbar-show-hide" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="<%= t('public_ui.navbar.toggle') %>">
    <i class="fas fa-chevron-circle-down"></i> <%= t('public_ui.navbar.title') %>
</button>

<nav class="row no-gutters collapse" id="navbar-content" aria-label="<%= t('public_ui.navbar.aria_label') %>" role="navigation">

  <div class="browse-buttons col-lg-8">
    <div class="row no-gutters">

      <div class="col col-md-auto">
        <%= link_to( browse_index_path, aria: {label: t('public_ui.staff_a_to_z.sr_title')}, class: (active == 'staff-a-z' ? 'btn btn-link active' : 'btn btn-link')) do %>
          <%= t('public_ui.staff_a_to_z.title') %>
          <% if active == 'staff-a-z' %> 
              <%= t('public_ui.navbar.active_sr_only_html') %>
          <% end %>
        <% end %>
      </div>

      <div class="col col-md-auto">
        <%= link_to( dept_index_path, class: (active == 'departments' ? 'btn btn-link active' : 'btn btn-link')) do %>
          <%= t('public_ui.dept.title') %>
          <% if active == 'departments' %> 
              <%= t('public_ui.navbar.active_sr_only_html') %>
          <% end %>
        <% end %>
      </div>

      <div class="w-100 d-md-none d-block"></div>

      <div class="col col-md-auto">
        <%= link_to( subject_specialists_index_path, class: (active == 'subject-specialists' ? 'btn btn-link active' : 'btn btn-link')) do %>
          <%= t('public_ui.subject_specialists.title') %>
          <% if active == 'subject-specialists' %>
              <%= t('public_ui.navbar.active_sr_only_html') %>
          <% end %>
        <% end %>
      </div>

      <div class="col col-md-auto">
        <%= link_to( executive_group_index_path, class: (active == 'executive-group' ? 'btn btn-link active' : 'btn btn-link')) do %>
          <%= t('public_ui.executive_group.title') %>
          <% if active == 'executive-group' %>
              <%= t('public_ui.navbar.active_sr_only_html') %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="staff-search col-lg-4">

    <%= form_with url: search_path, id: 'staff-search-form', local: true, method: :get do |form| %>
      <div class='form-group'>
        <div class='input-group'>
          <%= form.label 'staff-names-search', t('public_ui.navbar.search.label'), class: 'sr-only'%>
            <%= form.text_field 'q', autocomplete: 'off', placeholder: t('public_ui.navbar.search.placeholder'), aria: {label: t('public_ui.navbar.search.aria_label')}, class: 'form-control' %>
            <div class='input-group-btn'>
              <button class="btn btn-link" type="submit" id="search" aria-label="Search">
                <span class="sr-only"><%= t('public_ui.navbar.search.action') %></span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
        </div>
      </div>
    <% end %>

  </div>

</nav>
