<div class="person-wrap" itemprop="employee" itemscope="" itemtype="https://schema.org/Person">

  <%= link_to(staff_show_path(p), aria: {label: p.display_name}, item_prop: 'url') do %>

    <%== staff_photo(person: p, classes: 'person-thm media-object', size: 'thumbnail') %>

  <% end %>

  <div class="person-name" itemprop="name">
    <%= link_to(p.display_name, staff_show_path(p)) %>
  </div>
  <div class="person-job-title" itemprop="jobTitle"><%= p.display_title %></div>

</div>
